@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter var', 'Hevetica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
